[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org-simple"

[packages]
black = "==21.6b0"
boto3 = "==1.21.0"
bokeh = "*"
cython = "*"
dill = "*"
distributed = "*"
h5py = "*"
ipywidgets = ">=7.5.0"
kafka-python = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
pre-commit = "*"
pyarrow = "*"
s3fs = "*"
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
jupyter-bokeh = "*"
jupyterlab = "~=3.1.0"
jupyterlab-git = ">=0.30.0"
jupyterlab-s3-browser = "*"
elyra-python-editor-extension = "==3.0.5"
python-lsp-server = {version = "==1.2.4", extras = ["all"]}
autopep8 = "<1.5.6,>=1.5.0"

[dev-packages]
papermill = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
