# packages

### scipy-notebook

boto3
beautifulsoup4
bokeh
cloudpickle
cython
dask
dill
distributed
h5py
ipywidgets
kafka-python
matplotlib
pandas
plotly
pyarrow
s3fs
scipy
scikit-image
scikit-learn
seaborn
sqlalchemy
statsmodels

# extensions

jupyter-bokeh
jupyerlab-git
